:root {
    --bg-primary: #f5fbf3;
    --bg-secondary: #e9f0e8;
    --bg-teary: #d9e6da;

    --text-primary: #171d19;
    --text-secondary: #171d19;
    --text-link: #005c38;

    --circle-color: #0000000c;
    --circle-color-act: #00000018;

    --button-color: #005c38;
    --button-act: #005c38;

    --btn-sim: #005c38;
    --btn-sim-act: #005c38;
    --btn-nao: #86001b;
    --btn-nao-act: #86001b;
}



[data-theme="dark"] {
    --bg-primary: #0f1511;
    --bg-secondary: #1b211d;

    --bg-teary: #3e4a41;

    --text-primary: #dee4dd;
    --text-secondary: #dee4dd;
    --text-link: #69dc9d;

    --circle-color: #ffffff0c;
    --circle-color-act: #ffffff18;

    --button-color: #69dc9d;
    --button-act: #69dc9d;

    --btn-sim: #69dc9d;
    --btn-sim-act: #69dc9d;
    --btn-nao: #ffb3b2;
    --btn-nao-act: #ffb3b2;




    
}

